#
# SPDX-License-Identifier: GPL-3.0-or-later
#
[Unit]
Description=Borg Backup Server
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%E/state/environment
WorkingDirectory=%E/state
Restart=always
ExecStartPre=/bin/rm -f %t/bbs.pid %t/bbs.ctr-id
ExecStartPre=-/usr/bin/podman rm --ignore --force bbs
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/bbs.pid \
    --cidfile=%t/bbs.ctr-id \
    --cgroups=no-conmon \
    --replace --name=bbs \
    --publish=127.0.0.1:${TCP_PORT}:80/tcp \
    --publish=${BBS_SSH_PORT}:22/tcp \
    --volume=bbs-data:/var/bbs:Z \
    --env=APP_URL=https://${BBS_FQDN} \
    --env=SSH_PORT=${BBS_SSH_PORT} \
    ${BORGBACKUPSERVER_IMAGE}
ExecStartPost=runagent configure-bbs-settings
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/bbs.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile %t/bbs.ctr-id
PIDFile=%t/bbs.pid
Type=forking

[Install]
WantedBy=default.target
